@import url(https://fonts.googleapis.com/css?family=Oxygen);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*.entete{
	@include bg_fix;
	background-image: url("../img/trianglesHeader.png");
	background: bg_fix;
}*/
/* line 11, ../scss/global.scss */
body {
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
  text-align: justify;
  text-justify: distribute;
  /*background: url("../img/backgroungTransAccueil.png");*/
  height: 100%;
  box-sizing: border-box;
}

/* line 21, ../scss/global.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 26, ../scss/global.scss */
.align-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 32, ../scss/global.scss */
.menu1 {
  font-size: 18px;
  padding-top: 10%;
}
/* line 35, ../scss/global.scss */
.menu1 li {
  border-bottom: 3px solid transparent;
  padding: 10px 10px 7px;
  transition: border-bottom 1s linear;
}
/* line 39, ../scss/global.scss */
.menu1 li:hover, .menu1 li:active {
  border-bottom: 3px solid #d81f1f;
}

/* line 47, ../scss/global.scss */
.menu2 {
  display: none;
}

/* line 52, ../scss/global.scss */
.block_articles_centre h2 {
  color: #d81f1f;
  font-size: 24px;
}
/* line 56, ../scss/global.scss */
.block_articles_centre article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 61, ../scss/global.scss */
.block_articles_centre h3, .block_articles_centre p {
  display: inline;
  margin: 0 20%;
}

/* line 67, ../scss/global.scss */
.block_trapez {
  height: 80px;
  position: relative;
}
/* line 70, ../scss/global.scss */
.block_trapez .trapez {
  width: 80%;
  height: 80px;
  background-color: #d81f1f;
}
/* line 75, ../scss/global.scss */
.block_trapez h2 {
  color: #fff;
  font-size: 24px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
}

/* line 86, ../scss/global.scss */
.block_text_decale h2 {
  font-size: 24px;
  margin: 10%;
}
/* line 90, ../scss/global.scss */
.block_text_decale article {
  margin: 10%;
}

/* line 95, ../scss/global.scss */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 5%;
}

/* line 105, ../scss/global.scss */
.line-height {
  line-height: 30px;
}

/* line 110, ../scss/global.scss */
.couriel a {
  color: #fff;
  vertical-align: top;
}
/* line 114, ../scss/global.scss */
.couriel img {
  vertical-align: center;
}

/* line 118, ../scss/global.scss */
.logo_couriel {
  width: 20px;
  height: 20px;
}

/* line 123, ../scss/global.scss */
.postal {
  text-align: right;
}
