
@import "compass/reset";
@import "compass/support";
@import url(https://fonts.googleapis.com/css?family=Oxygen);

$oxygen: 'Oxygen', sans-serif;

$red: #d81f1f; 
$white: #fff;

$fontSizeBig: 24px;
$fontSizeMiddle: 18px;
$fontSizelittle: 14px;

$break-phone : 480px;
$break-tab: 790px;
$break-dk-norm: 992px;
$break-dk-hd: 1200px;
