@import "base";

/*.entete{
	@include bg_fix;
	background-image: url("../img/trianglesHeader.png");
	background: bg_fix;
}*/



body {
    font-family: $oxygen;
    font-size: $fontSizeBig;
    text-align: justify;
	text-justify: distribute;
    /*background: url("../img/backgroungTransAccueil.png");*/
    height: 100%;
    box-sizing: border-box;
}

a{
	color:#000;
	text-decoration: none;
}

.align-column{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu1 {
	font-size: $fontSizeMiddle;
	padding-top: 10%;
	li {
	    border-bottom: 3px solid transparent;
	    padding: 10px 10px 7px ;
	    transition: border-bottom 1s linear;
	    	&:hover, &:active{
	    	border-bottom: 3px solid $red;
	    	}
	}
}



.menu2{
    display: none; 
}

.block_articles_centre{
	h2{
		color: $red;
		font-size: $fontSizeBig;
	}
	article{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h3, p{
		display: inline; 
		margin : 0 20%;
	}
}

.block_trapez{
	height: 80px;
	position: relative;
	.trapez{
		width: 80%;
		height: 80px;
		background-color: $red;
	}
	h2{
		color: #fff;
		font-size: $fontSizeBig;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 25%;
	}
}

.block_text_decale{
	h2{
		font-size: $fontSizeBig;
		margin: 10%;
	}
	article{
		margin: 10%;
	}
}

footer{
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	background-color: #000;
    color: #fff;
    font-size: $fontSizelittle;
    padding: 5%;
}

.line-height {
	line-height: 30px;
}

.couriel{
	a{
		color: #fff;
		vertical-align: top;
	}
	img{
		vertical-align: center;
	}
}
.logo_couriel{
	width: 20px;
	height: 20px;

}
.postal{
	text-align: right;
}








